<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block layout:fragment="css">
  <style>
    .error {
      color: #bd2130;
    }
  </style>
</th:block>
<head>
  <title>Profolio</title>
  <link href="/css/login.css" rel="stylesheet" />
  <link
          href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap"
          rel="stylesheet"
  />
</head>
<body>
<div class="back">
  <header class="text_main">Profolio 로그인</header>
  <span class="l1">계정이 없으신가요?</span>
  <form role="form" action="/members/new">
    <input class="l2" type="submit" value="새 계정 만들기>" />
  </form>
  <form role="form" method="post" action="/members/login">
    <div class="userid">
      <input class="email" name="email" type="email" placeholder="이메일" />
    </div>
    <div class="userpw">
      <input class="password" name="password" id="password" type="password" placeholder="비밀번호" />
      <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
    </div>


    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
      <input class="btn_login" type="submit" value="로그인" />
    </form>
    <div class="line"></div>
  <form action="/company/new">
    <input class="btn_company" type="submit" value="기업회원 가입하기" />
  </form>
</div>
</body>
</html>
