<!DOCTYPE html>
<html lang="kr">
<head>
    <title>Profolio</title>
    <link href="/css/main.css" rel="stylesheet" />
    <link
            href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap"
            rel="stylesheet"
    />
</head>
<body>
<div class="back">
    <form action="/company/login">
        <input class="login" type="submit" value="기업로그인" />
    </form>
    <span class="m1"
    >나의 포트폴리오를 모두에게<br />
        소개할 워크스페이스
      </span>
    <br />
    <span class="m2"> 프로폴리오를 통해 <br/>
        개인포트폴리오를 관리하세요 </span>
    <form action="/members/login">
        <input class="start" type="submit" value="시작하기" />
    </form>
    <div class="m3" style="background-image:url(../img/mainimg.png);">
</div>
</body>
</html>
